/.vscode
/Advance js
/basics
/basics_2
/basics_3
/Control_Flow
/DOM
/events
/Guess_Number
/Javascript_DSA
/Loops
/node_modules
/package-lock.json
/package.json
/project_1
/project_2
/project_2_1
/project_netflix
/project_news
/project_to_do_list
/react_app
/_classes_and_Oops